.header-text {
    display: flex;
    justify-content: center;
    border: 1px;
    border-radius: 5px;
    color: white;
    font-size: 50px;
    background-color: blueviolet;
    padding: 25px;
    margin-left: 50px;
    margin-right: 50px;
}
