.newTodoContainer {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.newTodoInput {
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    font-size: 16px;
    font-style: italic;
    padding-left: 10px;
    margin-right: 5px;
    width: 257px;
}

.newTodoButton {
    height: 33px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: blueviolet;
    border-radius: 5px;
    border-style: none;
}

.todoList {
    list-style: none;
    padding: 0px;
    margin-left: 15px;
    margin-right: 15px;
}

.todoElement {
    display: flex;
    align-items: center;
    height: 40px;
    min-width: 400px;
    margin-bottom: 15px;
    padding-left: 10px;
    background-color: blueviolet;
    border-radius: 5px;
}

.todoElementEditing {
    display: flex;
    align-items: center;
    height: 40px;
    min-width: 400px;
    margin-right: 35px;
    margin-bottom: 15px;
    padding-left: 5px;
    background-color: blueviolet;
    border-radius: 5px;
}

.todoCheckbox {
    transform: scale(2.5);
    margin-right: 20px;
    outline-color: blueviolet;
}

.todoName {
    font-size: 18px;
    margin-right: 12px;
    color: white;
    font-style: italic;
}

.todoDeleteButton {
    margin-left: 5px;
    margin-right: 5px;
    height: 33px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #240242;
    border-radius: 5px;
    border-style: none;
}

.todoEditButton {
    margin-left: auto;
    height: 33px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #240242;
    border-radius: 5px;
    border-style: none;
}

.todoEditInput {
    height: 30px;
    border-radius: 5px;
    border-style: none;
    width: 100%;
    margin-right: 5px;
    padding-left: 10px;
    font-size: 16px;
    font-style: italic;
}

.todoEditDoneButton {
    margin-left: auto;
    height: 33px;
    margin-right: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #240242;
    border-radius: 5px;
    border-style: none;
}

